<%= form_for @conn, Routes.upload_path(@conn, :create), [multipart: true, id: "upload_form"], fn f-> %>

	<%= file_input f, :upload, class: "form-control" %>
	<%= submit "Upload", class: "btn btn-primary" %>

<% end %>