<%= form_for @conn, Routes.upload_path(@conn, :create), [multipart: true, id: "upload_form"], fn f-> %>

    <div class="upload-btn-wrapper">
        <button class="btn">Upload a file</button>
        <%= file_input f, :upload, class: "form-control" %>
    </div>

    <div class="upload-progress">
        <progress max="100" value="0"></progress>
		<label class="progress-percentage"></label>
    </div>

<% end %>
